
.content tr{
  height: 7rem;
}

.contact th{
  width: 150px;
}

.word{
  width: :480px;
}



.button{
  text-align: center;
}
.button button{
  background-color: #008B8B;
  padding: 10px;
  color: #fff;
  border: none;
  font-size: 3rem;
  margin-bottom: 120px;
}
.button button:hover{
  opacity: 0.5;
}
